@model Prova2.PrecoVenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrecoVenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material1.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material1.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPrecoVenda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
